body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background:linear-gradient(320deg,#D9FAFF 40%,#B8B5FF);
    background-size: cover;
    height: 100vh;
}

.main{
    padding: 2rem;
}

.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

#c1{
    background-color:#1B262C;
}

#c2{
    background-color: #CE1212;
}

#c3{
    background-color: #6EB6FF;
}

#c4{
    background-color: #FFC93C;
}

#c5{
    background-color: #7F78D2;
}

.circle{
    border: 2px solid black;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.current{
    width: 2rem;
    height: 2rem;
}

.score{
    padding: .5rem 3rem;
    border: solid 2px rgb(15, 15, 15);
    border-radius: 10px;
}

.score h1{
    margin: 0;
    color: #1B262C;
}

.mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.chances{
    border: 2px solid black;
    border-radius: 2px;
    padding: .5rem 2.2rem;
}

.chances h1{
    display: flex;
    gap: 1.2rem;
    font-size: 38px;
    margin: 0;
    color: #1B262C;
}

.play-section{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.box{
    width: 5.6rem;
    height: 5.5rem;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 4px 2px rgba(26, 26, 26, 0.562);
    background-color: #7F78D2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h1{
    margin: 0;
    color: #F0F5F9;
}

.bottom-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.input{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.input h1{
    font-size: 38px;
    letter-spacing: .2rem;
}

.input input{
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 3rem;
    width: 5rem;
    font-size: 36px;
    font-weight: 700;
    text-indent: 35%;
    outline: 0px;
    border-width: 0 0 2px;
    border: 0px 0px 2px 0px solid black;
    text-transform: uppercase;
    background-color: transparent;
    color:rgb(255, 14, 54);
    text-shadow: 1px 2px 3px rgba(12, 12, 12, 0.486);
}

.bottom-section .button{
    padding: 1rem 3rem;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5rem;
    border-radius: 1px;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
}

.bottom-section .button:hover{
    background-color: #1B262C;
    color:#C9D6DF;
}

.wrong{
    color: rgba(255, 14, 54, 0.486)!important;
}

.result{
    display: none;
    align-items: center;
    gap: 2rem;
}

.active{
    display: flex;
}

.result img{
    width: 40rem;
}

.result .button{
    padding: .7rem 2rem;
    width: fit-content;
    border: 2px solid black;
    font-size: 36px;
    letter-spacing: .5rem;
    background-color: transparent;
}

.result .button:hover{
    background-color:#1B262C;
    color: #C9D6DF;
    cursor: pointer;
}

.win{
    display: block;
    font-size: 48px;
    border-radius: 2px solid white;
    color: greenyellow;
}

.lost{
    display: block;
    font-size: 48px;
    border-radius: 2px solid white;
    color: rgb(0, 0, 0);
}

.lost h1{
    margin: 0;
}

.win h1{
    margin: 0;
}

.hidden{
    display: none;
}