body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-size: cover;
    overflow: hidden;
}

.main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.red_theme{
    background:linear-gradient(320deg,#f90717d5,#f90717d5);
}

.blue_theme{
    background:linear-gradient(320deg,#87cef7,#87cef7);
}

.yellow_theme{
    background:linear-gradient(320deg,#FBFF00,#FBFF00);
}

.white_theme{
    background:linear-gradient(320deg,#EEF2FF ,#EEF2FF);
}

.purple_theme{
    background:linear-gradient(320deg,#b5e2e9 10%,#a09dec);
}

.top-section{
    display: flex;
    align-items: center;
    width: 88%;
}

.color{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

.white{
    background-color:#EEF2FF !important;
}

.red{
    background-color: #f53c3cc7 !important;
}


.blue{
    background-color: #6eb6ffc9 !important;
}

.yellow{
    background-color: #ffc83cc0 !important;
}

.purple{
    background-color: #7F78D2 !important;
}

.green{
    background-color: #17B978 !important;
}

.circle{
    border: 2px solid black;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.current{
    width: 2rem;
    height: 2rem;
}

.container{
    padding: 1.5rem 0rem 4rem 2rem;
    width: 90%;
}

.mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chances{
    border: 2px solid black;
    border-radius: 2px;
    padding: 1rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chances h1{
    display: flex;
    gap: 2rem;
    font-size: 74px;
    margin: 0;
    color:#1B262C;
}

.play-section{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
    flex-wrap:wrap;
}

.box{
    width: 5rem;
    height: 5rem;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 4px 2px rgba(26, 26, 26, 0.562);
    background-color:#11171aec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h1{
    margin: 0;
    color: #F0F5F9;
}

.bottom-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.input{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.input h1{
    font-size: 38px;
    letter-spacing: .2rem;
}

.input input{
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 3rem;
    width: 5rem;
    font-size: 36px;
    font-weight: 700;
    text-indent: 35%;
    outline: 0px;
    border-width: 0 0 2px;
    border: 0px 0px 2px 0px solid black;
    text-transform: uppercase;
    background-color: transparent;
    color:rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgba(12, 12, 12, 0.486);
}

.bottom-section .button{
    padding: 1rem 4rem;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .7rem;
    border-radius: 1px;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
}

.bottom-section .button:hover{
    background-color: #1B262C;
    color:#C9D6DF;
}

.wrong{
    color: #f90717d5 !important;
}

.white_wrong{
    color: white;
}

.result{
    display: none;
    align-items: center;
    gap: 2rem;
}

.active{
    display: flex;
}

.result img{
    width: 35rem;
}

.result .button{
    padding: .7rem 2rem;
    width: fit-content;
    border: 2px solid black;
    font-size: 30px;
    letter-spacing: .5rem;
    background-color: transparent;
}

.nopadding{
    padding: 0;
}

.result .button:hover{
    background-color:#1B262C;
    color: #C9D6DF;
    cursor: pointer;
}

.win{
    display: block;
    font-size: 48px;
    border-radius: 2px solid white;
    color: greenyellow;
}

.lost{
    display: block;
    font-size: 48px;
    border-radius: 2px solid white;
    color: rgb(0, 0, 0);
}

.lost h1{
    margin: 0;
}

.win h1{
    margin: 0;
}

.hidden{
    display: none;
}

.blank{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    width: 2rem;
}

.default{
    background-color: rgba(12, 12, 12, 0.699);
}



@media screen and (max-width:400px) {

    body{
        overflow:visible;
    }

    .main{
        padding: 1rem;
    }

    .container{
        width: 95%;
        padding: 0;
    }
    
    .chances h1{
        font-size: 41px;
        gap: .7rem;
    }

    .play-section{
        margin-top: 2rem;
    }

    .bottom-section{
        margin-top: 0;
    }

    .input h1{
        width: 50%;
    }

}